@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-sidebar {
    @apply bg-gradient-to-b dark:from-gray-950 dark:to-gray-700 from-primary-900 via-primary-900 to-primary-700 dark:bg-transparent;
}

.fi-sidebar-header {
    @apply bg-primary-950;
    color: white;
}

.fi-logo {
    @apply text-white;
}

.fi-sidebar-header .fi-icon-btn-icon {
    color: white;
}

.fi-tenant-menu-trigger svg {
    color: white;
}

.fi-tenant-menu-trigger span {
    color: white;
    font-weight: 800;
}

.fi-tenant-menu-trigger:hover span {
    color: black;
    font-weight: 800;
}

.fi-sidebar-item-label {
    color: white;
    font-weight: 600;
    opacity: 0.8;
}

.fi-sidebar-item-icon {
    color: white;
    opacity: 0.8;
}

.fi-sidebar-item:hover .fi-sidebar-item-label {
    color: black;
    font-weight: 600;
    opacity: 0.8;
}

.fi-sidebar-item:hover .fi-sidebar-item-icon {
    color: black;
    opacity: 0.8;
}

.fi-sidebar-item.fi-active {
    color: black;
    opacity: 1;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-label {
    color: black;
    opacity: 1;
    font-weight: 800;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-icon {
    color: black;
    opacity: 1;
}

.filament-versions-nav-widget ul li {
    color: white;
    font-weight: 600;
}

.quick-create-component .fi-dropdown-trigger button {
    @apply bg-primary-700;
    color: white;
    font-weight: 600;
}

.fi-sidebar-header div a .fi-logo.flex {
    display: none;

}

.fi-sidebar-header div a .fi-logo.hidden {
    display: block;
}

/*CLUSTER*/

.fi-page-sub-navigation-sidebar ul li.fi-sidebar-item .fi-sidebar-item-label {
    @apply text-gray-600;
}

.fi-page-sub-navigation-sidebar ul li.fi-sidebar-item .fi-sidebar-item-icon {
    @apply text-gray-600;
}

.fi-page-sub-navigation-sidebar ul li.fi-sidebar-item.fi-active a {
    @apply bg-primary-800;

    .fi-sidebar-item-label {
        @apply text-gray-100;
    }

    .fi-sidebar-item-icon {
        @apply text-gray-100;
    }
}

.fi-page-sub-navigation-sidebar ul li.fi-sidebar-item:hover a {
    @apply bg-primary-800;

    .fi-sidebar-item-label {
        @apply text-white;
    }

    .fi-sidebar-item-icon {
        @apply text-white;
    }
}

